/* Defaults */
:root {
	--font-family: 'Signika Negative', system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-white: #fff;
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #1E1E1E;
	--color-teal-dull: #2ACDDA;
	--color-teal-bright: #00F6FE;
	--color-citron: #E7F33B;
	--color-magenta: #C100F3;

	--background-color: #242424;

	--text-color: var(--color-white);
	/* todo: check contrast */
	--text-color-link: var(--color-teal-dull); 
	--text-color-link-active: var(--color-teal-bright);
	--text-color-link-visited: var(--color-teal-dull);

	--syntax-tab-size: 2;

	--border-radius: 4rem;
	/* --base-font-size-max: 30px; used for REM calculation */
	--base-font-size: 16px; /* used for REM calculation */
	--font-size-small: clamp(0.8rem, 2vw + 1rem, 1.5rem); /* large: 24px; small: 13px */
	--font-size-medium: clamp(1rem, 2vw + 1rem, 1.875rem); /* large: 30px; small: 16px */
	--font-size-large: clamp(1.2rem, 2vw + 1rem, 2.188rem); /* large: 35px */
	--font-size-xlarge: clamp(2rem, 2vw + 1rem, 3.438rem); /* large: 55px */
	--font-size-xxlarge: clamp(3rem, 2vw + 1rem, 5.625rem); /* large: 90px */
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

/* Containers */
html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	font-weight: light;
	color: var(--text-color);
	background-color: var(--background-color);
	/* font-size: var(--base-font-size-max); */
}
html {
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body {
	position: relative;
	overflow: clip;
}

.container {
	/* display: grid; */
	/* max-width: 40em; */
	margin: auto;
	margin-bottom: 8rem;
}

.container--constrained {
	margin: auto;
	margin-bottom: 8rem;
	@media screen and (min-width: 1024px) {
		padding-right: 30rem;
	}	
	@media screen and (min-width: 768px) {
		padding-right: 20rem;
	}
}

.container-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1rem 2rem;
	align-items: center;
	/* max-width: 40em; */
	margin: auto;
	margin-bottom: 3rem;
}

main,
header,
footer {
	margin-left: 2rem;
	padding-right: 2rem;
}

@media screen and (min-width: 768px) {
	main,
	header,
	footer {
		margin-left: 6rem;
		margin-right: 6rem;
	}
}

main :first-child {
	margin-top: 0;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img{
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}
video,
iframe {
	width: 100%;
	height: auto;
}
iframe {
	aspect-ratio: 16/9;
}

/* Typography */
h2,
h3 { 
	font-weight: 100;
	text-transform: uppercase;
	span {
		font-weight: bold;
		display: block;
	}
}

h2 {
	font-size: var(--font-size-xxlarge);
	margin-bottom: 0.5rem;
	line-height: 1.1;
}

h3 {
	font-size: var(--font-size-xlarge);
}

.mobile-header {
	@media screen and (min-width: 768px){
		display: none;
	}
}

.desktop-header {
	@media screen and (max-width: 767px){
		display: none;
	}
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.2;
	font-weight: 100;
	font-size: var(--font-size-medium);
	max-width: clamp(65%, 60rem, 100%);
	&.lede {
		font-size: var(--font-size-large);
	}

}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

#skip-link {
	text-decoration: none;
	background: var(--background-color);
	color: var(--text-color);
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-gray-90);
	border-radius: 2px;
}

/* Prevent visually-hidden skip link fom pushing content around when focused */
#skip-link.visually-hidden:focus {
	position: absolute;
	top: 1rem;
	left: 1rem;
	/* Ensure it is positioned on top of everything else when it is shown */
	z-index: 999;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

/* Forms */

button,
.button {
	background-color: var(--color-citron);
	color: var(--color-gray-90);
	padding: 1.3rem 1.9rem;
	text-transform: uppercase;
	border-radius: var(--border-radius);
	border: 2px solid white;
	box-shadow: none;
	font-weight: 700;
	font-size: var(--font-size-small);
	text-decoration: none;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.2s ease;
	&:hover,
	&:active {
		background-color: var(--color-teal-bright);
		color: var(--color-gray-90);
	}
	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.contact {
	max-width: 950px;
	input {
		border-radius: 100px;
		padding: 0.75rem 1rem 0.75rem 2rem;
		border: none;
		width: 100%;
		height: 100%;
		font-size: var(--font-size-small);
		&::placeholder {
			color: var(--color-gray-90);;
		}
		@media screen and (min-width: 768px){
			border-radius: 100px 0 0 100px;
		}
	}
	button {
		padding: 0.75rem 1rem;
		@media screen and (min-width: 768px){
			border-radius: 0 100px 100px 0;
			margin-top: 0.5rem;
		}
	}
}

/* Header */
header {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 1rem 2rem 6rem;
	margin-bottom: 2rem;
	position: sticky;
	top: 0;
	background: var(--background-color);
	z-index: 100;
	margin-left: 0;
}

header img {
	max-width: 55%;
	@media screen and (min-width: 768px){
		max-width: 40%;
	}
}

/* Homepage centered list */
.circle-container {
	position: absolute;
	top: -10%;
	right: -5%;
	z-index: 150;

	@media screen and (max-width: 1024px){
		top: -12%;
		right: -15%;
	}

	@media screen and (max-width: 768px){
		top: -6%;
		right: -16%;
	}

	@media screen and (max-width: 580px){
		top: -3%;
		right: -10%;
	}

	@media screen and (max-width: 480px){
		top: -3%;
		right: -15%;
	}

}

.circle-small {
	/* background-color: var(--color-teal-dull); */
	/* border: 50px solid var(--color-citron); */
	background: linear-gradient(to top, var(--color-teal-dull), var(--color-citron));
	border-radius: 100%;
	width: 400px;
	height: 400px;
	@media screen and (min-width: 769px){
		position: absolute;	
		top: 65%;
		right: -10%;
	}
	@media screen and (max-width: 768px) {
		top: 0;
		right: 0;
		width: 350px;
		height: 350px;
	}
	@media screen and (max-width: 580px) {
		width: 250px;
		height: 250px;
	}
	@media screen and (max-width: 480px){
		width: 200px;
		height: 200px;
	}
}

@media screen and (min-width: 768px){
	.circle {
		/* clip-path: circle(50% at 80%); */
		/* background: var(--color-teal-bright); */
		/* border: 50px solid var(--color-magenta); */
		border-radius: 100%;
		background: linear-gradient(to left, var(--color-teal-bright), var(--color-magenta));
		/* position: absolute; */
		width: 600px;
		height: 600px;
		/* top: -10%; */
		/* right: -5%; */
		/* z-index: -1; */
	}
}

.icon-list--centered {
	margin: auto;
	list-style: none;
	padding: 0;
	li {
		margin-bottom: 2rem;
		position: relative;
		&:before {
			content: "";
			display: inline-block;
			width: 9.5rem;
			height: 9.5rem;
			background-image: url('img/logo-icon.png');
			background-size: contain;
			background-repeat: no-repeat;
			position: relative;
			margin: auto;
			display: block;
		}
	}
	h3 {
		margin-top: 1.5rem;
		margin-bottom: 0.5rem;
	}
	@media screen and (min-width: 768px){
		padding-left: 6rem;
		li:before {
			width: 6.5rem;
			height: 6.5rem;
			margin-right: 0.5rem;
			position: absolute;
			left: -5.5rem;
		}

		h3 {
			padding-left: 3.5rem;
		}
		p {
			margin-top: 0;
			padding-left: 3.5rem;
		}
	}
}

.bio__headshot {
	width: 100%;
	max-width: 300px;
	margin: auto;
	@media screen and (min-width: 768px){
		position: absolute;
		left: -5rem;
		max-width: 325px;
	}
}

.bio__text {
	@media screen and (min-width: 768px){
		padding-left: 200px;
	}
}

/* 11ty defaults -- Not currently used */

/* Nav */
.nav {
	display: flex;
	gap: .5em 1em;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	counter-reset: start-from var(--postlist-index);
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

