---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
<div class="circle-container">
	<div class="circle"></div>
	<div class="circle-small"></div>
</div>
<div class="container--constrained">
	<h2>
		<span>Meet</span> the Alliance
	</h2>

	<p class="lede">Our volunteers work with governments around the world — pro bono — to deliver critical services and infrastructure. We champion values-driven tech that crosses borders, strengthens communities, and includes everyone.</p>

	<a href="#join" class="button">Join the Alliance</a>
</div>

<div class="container">
	<ul class="icon-list--centered">
		<li>
			<h3>Experienced builders</h3>
			<p>Limited by tech talent? We bring a surge of skilled hands, developing user-centered solutions alongside government and local leaders.</p>
		</li>
		<li>
			<h3>Dedicated partners</h3>
			<p>We don’t launch and leave. We share proven techniques from around the world, helping teams master digital tools, policies, and best practices.</p>
		</li>
		<li>
			<h3>Empathetic revolutionaries</h3>
			<p>We’re more than a transatlantic alliance — we’re a force for forward momentum. We meet the challenges of government with open minds and hearts, creating services for all.</p>
		</li>
	</ul>
</div>

<div class="container">
	<h2 class="mobile-header">
		<span>Leading</span> the alliance
	</h2>
	<img src="../img/tamara-headshot.png" alt="Headshot of Tamara" class="bio__headshot">
	<div class="bio__text">
		<h2 class="desktop-header">
			<span>Leading</span> the alliance
		</h2>
		<p>All about Tamara here! wow she’s amazing! she’s doing so much awesome stuff! More stuff she’s doing! wowowow</p>
		<p>All about Tamara here! wow she’s amazing! she’s doing so much awesome stuff! More stuff she’s doing! wowowow</p>
	</div>
</div>